@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Source+Sans+Pro');

html {
    height: 100%
}

body {
    background: #f2f2f2;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: #333;
    display: flex;
    display: -webkit-flex;
    /* Safari */
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    flex-direction: column;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auto {
    flex: auto;
}

.row {
    display: flex;
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.shadow-1 {
    box-shadow: 0 2px 15px 1px rgba(0, 0, 0, .12);
    /* 0 10px 40px -14px rgba(0, 0, 0, 0.25); */
}

h1, h2, h3, h4, h5, h6, a.logo-text, a.nav-item, input[type=submit],button.search-button, footer, .primary-btn, .btn-post {
    font-family: 'Julius Sans One', sans-serif;
}
.form-content ,.wrapper,.list-group,.answer-list,.aside-1, .aside-2  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  
}
.form-content {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 25rem;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    -ms-flex-direction: column;
    box-sizing: border-box;
}

form label {
    margin-bottom: 1.2em;
    line-height: 30px;
}

input {
    color: #384047;
    background-color: #f9fbfc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1.2rem;
    width: 100%;
    outline: none;
}

input[type=submit] {
    text-align: center;
    font-size: 1.25rem;
    color: #ffffff;
    background-color: #38d39e;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 0.8rem;
    margin: 1rem 0;
    cursor: pointer;
    overflow: hidden;
}

input[type=submit]:hover {
    background-color: rgba(56, 211, 158, 0.9);
}

input#search {
    padding: 10px;
    outline: none;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

button.search-button, .primary-btn, .btn-post {
    height: 40px;
    border:none;
    border-radius:4px;
    outline: none;
    background: #38d39e;
    color: #ffffff;
    font-size: .9rem;
    font-weight: 800;

}

.primary-btn{ width: 100%;}
button.search-button{   width: 86px;}
button.search-button:focus,button.search-button:hover, .primary-btn:hover,.primary-btn:focus, .btn-post:focus,.btn-post:hover {
    background: #ffffff; color:#38d39e;
    border: 2px solid #38d39e;
}
.btn-post{width:200px;float:right;}
.form-header {
    border-bottom: 2px solid #38d39e;
    margin-bottom: 2rem;
}

.text-center {
    text-align: center
}

.forgot {
    float: right;
    font-size: .8rem;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #38d39e;
}
nav {
    background: #ffffff;
    padding: 1rem;
    position: relative;
    height: 50px;    margin: 0 -10px;
}

nav .headernav .nav-icon {
    display: none;
    color:#38d39e;font-size:20px;
}

a.nav-item {
    padding: 5px 15px
}


a.nav-item:hover {
    border-bottom: 2px solid #38d39e;
    border-top: 2px solid #38d39e;
    width: 80px;
}

.align-right , .float-r{
    float: right
}

@media screen and (max-width: 600px) {
    .headernav .align-right {
        display: none;
    }
    .headernav a.nav-icon {
        float: right;
        display: block;
    }
    .headernav.fluid {
        position: relative;
    }
    .headernav.fluid .nav-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .headernav.fluid .align-right {
        float: none;
        display: block;
        text-align: left;
    }
    .align-right{    padding: 25px 0px;
        padding: 15px 0px;
        margin: 17px -15px;
        background: white;}
    a.nav-item {
        display: flex;
    }
    /* section.main{margin: -10px;} */
}

.wrapper {
    flex-flow: row wrap;

}

.wrapper>* {
    flex: 1 100%;
    margin: 10px 
}
.wrapper:first-child{
    margin: -10px 0px;
}
.wrapper:not(:first-child){
    /* margin-left: 15px;
    margin-right: 15px */
}
header{
    border: 1px solid #dddddd
}
.aside-1{
    margin: 10px 0 0 10px;
    padding: 20px 30px;
}
.aside-2 {
    margin: 10px 10px 0 0;
}
.aside-1, .aside-2 {
    background: #fcfcfc;
    height:18rem;
    justify-content: center;
    align-items: center;
    text-align: center;
 
  }
@media all and (min-width: 600px) {
  
}

@media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
  
    }
    .aside-1 {
        order: 1;
    }
    .main {
        order: 2;
    }
    .aside-2 {
        order: 3;
    }
    .footer {
        order: 4;
    }
    .aside {
        flex: 1 120px;
    }
}

.footer {
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

section.main {

    padding: 15px;
    background-color: #f9f9f9;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

.search-control {
    text-align: center;
    width: 100%;
    display: inline-flex;
  
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
 a.answer-list{
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #fcfcfc; 
  }
a.answer-list:hover{
    color: #333333;
    background-color: #f2f2f2;  
}
.answer-list{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
   padding: 15px;
   min-height: 100px;
   margin: -10px -15px;
   font-size: 14px;
}
.arrange {
    display: table;
    table-layout: fixed;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}

.table-row {
    display: table-cell;
}
.profile-stat.table-row{
    padding: 16px;
}
.profile {
    padding: 0 16px;}
.profile-stat {
    box-sizing: border-box;
    line-height: 1;
    overflow: hidden;

}
.textarea {
    outline: none;
    width: 100%;
    padding: .375rem .75rem;
    min-height: 95px;
    line-height: 10px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: .25rem;
    margin-bottom: 14px;
}
.profile-label {
    font-size: 12px;
    margin: 0;
    line-height: 1.25rem;
    overflow: hidden;
}
p.display-name{margin: .4rem}
.profile-stat{
    font-size: 18px;
    font-weight: bold;
}
 /* li.profile-stat.table-row:nth-of-type(2){
    border-right: 2px solid #dddddd;
    border-left:2px solid #dddddd;
} */
.profile-link{cursor: pointer;}
.inliner{display:inline-block}
.avatar{width: 130px;height: 130px;border-radius:50%;overflow:hidden}
.avatar-image{width:100%; max-width: 100%;}
.social-row{vertical-align: baseline;   margin: 5px 0 0;}
.question-text{font-size: 1.25rem}